<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <listeners>
    <listener class-name="ron.net.support.CustomListener" />
  </listeners>

  <test name="Test1">
    <classes>
      <class name="ron.net.SampleTestNgTest"/>
      <class name="ron.net.MenuVerify"/>
    </classes>
  </test>  
</suite>